.homeContainer {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
}
