.cartIconWrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 1.5rem;
}

.badge {
  background-color: #ff3b30;
  color: white;
  border-radius: 50%;
  padding: 0.15rem 0.4rem;
  font-size: 0.75rem;
  font-weight: bold;
  position: absolute;
  top: -8px;
  right: -10px;
}
